# 패키지 사용 및 데이터프레임 처리방법
* import 패키지명 ad 약칭<br>
Ex) import pandas as pd

In [338]:
import pandas as pd

In [76]:
df = pd.DataFrame([[1,2,3,4,5,6],[7,6,5,4,3,2]])

In [77]:
df

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  7  6  5  4  3  2

In [78]:
df[5]

0    6
1    2
Name: 5, dtype: int64

In [79]:
df.columns = ['a','b','c','d','e','f']

In [80]:
df

   a  b  c  d  e  f
0  1  2  3  4  5  6
1  7  6  5  4  3  2

In [81]:
df['d']

0    4
1    4
Name: d, dtype: int64

In [82]:
df['b'][1]

6

In [83]:
df.loc[1,'b'] ## loc[인덱스(행) 번호, 열번호]

6

In [84]:
df.iloc[0,2]

3

In [85]:
df1 = df.T
df1

   0  1
a  1  7
b  2  6
c  3  5
d  4  4
e  5  3
f  6  2

In [86]:
df2 = df1.T
df2

   a  b  c  d  e  f
0  1  2  3  4  5  6
1  7  6  5  4  3  2

In [87]:
df = pd.DataFrame([[1,2,3,4,5,6],[7,6,5,4,3,2,],[7,4,1,8,5,2]], columns = ['x','y','z','w','a','b'])
df

   x  y  z  w  a  b
0  1  2  3  4  5  6
1  7  6  5  4  3  2
2  7  4  1  8  5  2

## 실습 1
* 위 데이터 프레임에서 지정된 출력하기
1. y,2 데이터
2. w,0 에서 w,2 까지의 데이터
3. b,1 에서부터 b,2까지의 데이터
4. x,0에서부터 w,0까지의 데이터
5. y,1에서부터 w,2까지의 데이터

In [88]:
print(df.loc[2,'y']) ## 1번

4

In [89]:
df.loc[0:2,'w'] #2번

0    4
1    4
2    8
Name: w, dtype: int64

In [90]:
df.loc[1:2,'b'] #3번

1    2
2    2
Name: b, dtype: int64

In [91]:
df.iloc[0,0:4] #4번

x    1
y    2
z    3
w    4
Name: 0, dtype: int64

In [92]:
df.iloc[1:3,1:4] #5번- iloc

   y  z  w
1  6  5  4
2  4  1  8

In [93]:
df.loc[1:2,'y':'w'] #6번- loc

   y  z  w
1  6  5  4
2  4  1  8

In [339]:
import numpy as np

In [95]:
arr = np.array([[1,2,3,4,5,6],[7,6,5,4,3,2,],[7,4,1,8,5,2]])

In [96]:
print(arr)

[[1 2 3 4 5 6]
 [7 6 5 4 3 2]
 [7 4 1 8 5 2]]

In [97]:
arr[0][2]

3

In [98]:
pd.DataFrame([[1,2,3,4,5,6],[7,6,5,4,3,2,],[7,4,1,8,5,2]])

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  7  6  5  4  3  2
2  7  4  1  8  5  2

In [99]:
np.array([[1,2,3,4,5,6],[7,6,5,4,3,2,],[7,4,1,8,5,2]])

array([[1, 2, 3, 4, 5, 6],
       [7, 6, 5, 4, 3, 2],
       [7, 4, 1, 8, 5, 2]])

In [100]:
[[1,2,3,4,5,6],[7,6,5,4,3,2,],[7,4,1,8,5,2]]

[[1, 2, 3, 4, 5, 6], [7, 6, 5, 4, 3, 2], [7, 4, 1, 8, 5, 2]]

In [101]:
df = pd.DataFrame(arr)

In [102]:
df[1]+5 ## row, columns 모든 값 연산가능 , 데이터프레임의 모든값도 연산 가능

0     7
1    11
2     9
Name: 1, dtype: int32

In [103]:
df.loc[2,1] -5 ## 사칙연산 가능

-1

In [104]:
df[2] = ['a','b','c']

In [105]:
df

   0  1  2  3  4  5
0  1  2  a  4  5  6
1  7  6  b  4  3  2
2  7  4  c  8  5  2

In [106]:
df[2] +'a' ## 문자열 + 정수는 연산 불가

0    aa
1    ba
2    ca
Name: 2, dtype: object

In [107]:
arr +5

array([[ 6,  7,  8,  9, 10, 11],
       [12, 11, 10,  9,  8,  7],
       [12,  9,  6, 13, 10,  7]])

In [108]:
arr[1] +5

array([12, 11, 10,  9,  8,  7])

In [109]:
arr[1][3] + 5

9

In [113]:
# arr[1] = ['a','b','b','c','c'] ## 배열에 문자열 저장 불가 , 숫자만 가능함

In [ ]:
df.loc[1,2]

'b'

In [ ]:
df.loc[1,2] +='d'

In [ ]:
df

   0  1   2  3  4  5
0  1  2   a  4  5  6
1  7  6  bd  4  3  2
2  7  4   c  8  5  2

In [ ]:
df2 = df

In [ ]:
df2

   0  1   2  3  4  5
0  1  2   a  4  5  6
1  7  6  bd  4  3  2
2  7  4   c  8  5  2

In [ ]:
df2.iloc[2,4] = 999
df2

   0  1   2  3    4  5
0  1  2   a  4    5  6
1  7  6  bd  4    3  2
2  7  4   c  8  999  2

In [ ]:
df ## df2만 수정했는데 df도 수정됨 (얕은 복사)

   0  1   2  3    4  5
0  1  2   a  4    5  6
1  7  6  bd  4    3  2
2  7  4   c  8  999  2

In [ ]:
list1 = [2,3,4,5]
list1

[2, 3, 4, 5]

In [ ]:
list2 = list1

In [ ]:
list2 +=[123]
list2

[2, 3, 4, 5, 123]

In [ ]:
list1 ## 리스트도 동일한 문제 발생 (얕은 복사)

[2, 3, 4, 5, 123]

In [ ]:
list1 = [1,2,3,4,5]
list2=list1.copy() # 깊은 복사

In [ ]:
list2  +=[987]
list2

[1, 2, 3, 4, 5, 987, 987, 987]

In [ ]:
list1

[1, 2, 3, 4, 5]

In [ ]:
x = 987
y =x

In [ ]:
y +=963
y

1950

In [ ]:
x = 987 # 숫자는 얕은 복사 되지 않음 > .copy()를 지원하지 않음 , copy()를 지원하는 데이터들은 신중하게 수정해야함
x

987

In [ ]:
df = pd.DataFrame([[1,2,3,4,5,6],[7,6,5,4,3,2],[7,4,1,8,5,2,]])

In [ ]:
df

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  7  6  5  4  3  2
2  7  4  1  8  5  2

In [ ]:
df.to_excel('C:/Users/user/Desktop/저장할 파일/result.xlsx')

In [ ]:
df[2].mean() ## 평균

3.0

In [ ]:
df[2].max()

5

In [ ]:
df[2].min()

1

In [ ]:
df[2].median()

3.0

In [ ]:
df = pd.DataFrame([[1,2,3,4,5,6],[7,6,5,4,3,2],[7,4,1,8,5,2,]])
df2 = pd.DataFrame([[3,3,3,3,3,3],[7,6,5,4,3,2],[7,4,1,8,5,2,]])

In [ ]:
pd.concat([df,df2], axis = 1) ## axis = 0 세로로 붙임, 1이면 가로(x축)로 붙임 (기준열 없이 붙임)

   0  1  2  3  4  5  0  1  2  3  4  5
0  1  2  3  4  5  6  3  3  3  3  3  3
1  7  6  5  4  3  2  7  6  5  4  3  2
2  7  4  1  8  5  2  7  4  1  8  5  2

In [ ]:
df = pd.DataFrame([['a',2,3,4,5,6],['s',6,5,4,3,2],['d',4,1,8,5,2,]])
df2 = pd.DataFrame([['a',3,3,3,3,3],['s',6,5,4,3,2],['d',4,1,8,5,2,]])

In [ ]:
df

   0  1  2  3  4  5
0  a  2  3  4  5  6
1  s  6  5  4  3  2
2  d  4  1  8  5  2

In [ ]:
df2

   0  1  2  3  4  5
0  a  3  3  3  3  3
1  s  6  5  4  3  2
2  d  4  1  8  5  2

In [ ]:
df.merge(df2, left_on = 0, right_on = 0) ## 표 병합(기준열이 있어야함(공통된 데이터))

   0  1_x  2_x  3_x  4_x  5_x  1_y  2_y  3_y  4_y  5_y
0  a    2    3    4    5    6    3    3    3    3    3
1  s    6    5    4    3    2    6    5    4    3    2
2  d    4    1    8    5    2    4    1    8    5    2

In [119]:
df = pd.read_csv("C:/Users/user/Desktop/220102~/실습 데이터/시청자미디어재단_체험형미디어교육_20221109 - 시청자미디어재단_체험형미디어교육_20221109.csv")
df.head()

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09

In [ ]:
df['센터명'].unique()

array(['서울시청자미디어센터', '울산시청자미디어센터', '강원시청자미디어센터', '대전시청자미디어센터',
       '광주시청자미디어센터', '부산시청자미디어센터', '인천시청자미디어센터', '충북시청자미디어센터'],
      dtype=object)

In [ ]:
df['센터명']+'문자열을 더할 수 있습니다'

0     서울시청자미디어센터문자열을 더할 수 있습니다
1     서울시청자미디어센터문자열을 더할 수 있습니다
2     서울시청자미디어센터문자열을 더할 수 있습니다
3     서울시청자미디어센터문자열을 더할 수 있습니다
4     서울시청자미디어센터문자열을 더할 수 있습니다
                ...
94    인천시청자미디어센터문자열을 더할 수 있습니다
95    충북시청자미디어센터문자열을 더할 수 있습니다
96    충북시청자미디어센터문자열을 더할 수 있습니다
97    충북시청자미디어센터문자열을 더할 수 있습니다
98    충북시청자미디어센터문자열을 더할 수 있습니다
Name: 센터명, Length: 99, dtype: object

In [ ]:
for i in df['센터명']:
    print(i)

서울시청자미디어센터
서울시청자미디어센터
서울시청자미디어센터
서울시청자미디어센터
서울시청자미디어센터
서울시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
울산시청자미디어센터
강원시청자미디어센터
강원시청자미디어센터
강원시청자미디어센터
강원시청자미디어센터
대전시청자미디어센터
대전시청자미디어센터
대전시청자미디어센터
대전시청자미디어센터
광주시청자미디어센터
광주시청자미디어센터
광주시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
부산시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
인천시청자미디어센터
충북시청자미디어센터
충북시청자미디어센터
충북시청자미디어센터
충북시청자미디어센터

## 실습 2
* 아래코드를 이용해서, '미디어센터'라는 단어를 제외한 상태로 출력해보기
* '울산'이 들어가는 미디어센터의 경우,'울산'이라는 단어를 제외한 상태로 출력하기
* '광주'가 들어가는 미디어센터의 경우, 문자열을 역순으로 출력하기

In [ ]:
for i in df['센터명']: 
    if i[:2] =='울산':
        print(i[2:])
    elif i[:2] =='광주':
        print(i[::-1])
    else:
        print(i[:5])

서울시청자
서울시청자
서울시청자
서울시청자
서울시청자
서울시청자
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
시청자미디어센터
강원시청자
강원시청자
강원시청자
강원시청자
대전시청자
대전시청자
대전시청자
대전시청자
터센어디미자청시주광
터센어디미자청시주광
터센어디미자청시주광
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
부산시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
인천시청자
충북시청자
충북시청자
충북시청자
충북시청자

## Markdown 사용법
'''강조, 코드블럭'''
#코드 블럭과 특정언어 하이라이팅 가능

> 세로줄(인용문)

 **굵게**

<u> 밑줄</u>

<p>글자색 - 기본</p>

<p style = 'color: red'> 글자색깔 - 빨강<p>

[하이퍼링크](http://www.google.com)

In [ ]:
df = pd.read_csv("C:/Users/user/Desktop/220102~/실습 데이터/시청자미디어재단_체험형미디어교육_20221109 - 시청자미디어재단_체험형미디어교육_20221109.csv")
df.head()

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09

In [122]:
df['데이터기준일자']

0     2022-11-09
1     2022-11-09
2     2022-11-09
3     2022-11-09
4     2022-11-09
         ...
94    2022-11-09
95    2022-11-09
96    2022-11-09
97    2022-11-09
98    2022-11-09
Name: 데이터기준일자, Length: 99, dtype: object

In [125]:
x = '2022-11-29'.split('-')
y = '2022-11-09'.split('-')

In [126]:
x = pd.DataFrame([x,y])
x

      0   1   2
0  2022  11  29
1  2022  11  09

## 실습3
* 교육종료일자 - 교육시직일자를 계산해 며칠동안 교육했는지 알아보기
* 위 코드 참조

In [161]:
x = df['교육종료일자']
for i in df.index:
    a= int(df.loc[i,'교육종료일자'].split('-')[-1])
    b= int(df.loc[i,'교육시작일자'].split('-')[-1])
    print(a-b+1)

15
1
1
1
1
-3
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
30
30
30
30
1
1
1
1
25
25
25
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
30
30
30
30

In [175]:
a = pd.Timestamp(df['교육시작일자'][0]) ## 시간형식 데이터 숫자처럼 계산 가능함

In [176]:
b = pd.Timestamp(df['교육종료일자'][0])

In [177]:
b-a

Timedelta('14 days 00:00:00')

In [178]:
df.loc[5] ## 잘못된 값이 나왔을 때, 데이터의 문제일 가능성 존재

센터명        서울시청자미디어센터
강좌명         미디어 체험 교육
강사명           김도경,이수현
교육시작일자     2022-11-25
교육종료일자     2022-11-21
강좌내용            앵커 체험
교육대상구분             유아
교육방법구분           오프라인
운영요일                금
강좌정원수              25
데이터기준일자    2022-11-09
Name: 5, dtype: object

In [180]:
for i in df.index:
    a = pd.Timestamp(df.loc[i,'교육시작일자'])
    b = pd.Timestamp(df.loc[i,'교육종료일자'])
    print(b-a)

14 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
-4 days +00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
29 days 00:00:00
29 days 00:00:00
29 days 00:00:00
29 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
54 days 00:00:00
54 days 00:00:00
54 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
0 days 00:00:00
29 days 00:00:00
29 days 00:00:00
29 days 00:00:00
29 days 00:00:00

## 데이터 필터링

In [190]:
df.head()

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09

In [193]:
df['교육대상구분'].unique()

array(['일반', '청소년', '유아', '초등학생', '미취학', '중학생', '유아,아동', '초등학생 이상',
       '중고등학생', '노인(65세~)', '모든연령', '고등학생', '지역주민', '고등학생,장애인', '성인',
       '대학생', '성인,장애인', '중학생,장애인', '6~7세'], dtype=object)

In [192]:
df[df['교육대상구분'] =='청소년']

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09

In [195]:
m = df['교육대상구분'] == '청소년'
df[m]

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09

In [209]:
df['강좌정원수'].unique()

array([25, 20, 15, 50, 10, 40, 14, 12, 28, 23,  8,  4, 21, 17],
      dtype=int64)

## 실습 4 
* 강좌정원수가 20이상 30이하인 강좌명을 찾아 출력한다.
* 강사가 2명이상인 강의 중 교육대상구분이 아동인 강좌명을 찾아 출력한다.

In [223]:
##답안 1
df2 = df['강좌명']
m = df['강좌정원수'] >=20
n = df['강좌정원수'] <=30
df2[m][n]

0               상설미디어체험 교육
1        찾아가는미디어나눔버스 체험 교육
2           찾아가는미디어나눔버스 체험
3           찾아가는미디어나눔버스 체험
4           찾아가는미디어나눔버스 체험
              ...
86                  크로마키체험
87                  TV뉴스체험
90                  크로마키체험
92    찾아가는 미디어나눔버스(TV뉴스체험)
94    찾아가는 미디어나눔버스(TV뉴스체험)
Name: 강좌명, Length: 77, dtype: object

In [211]:
## 답안 2
for i in df.index:
    if df.loc[i,'강좌정원수']:
        if df.loc[i,'강좌정원수']:
            print(df.loc[i,'강좌명'])

상설미디어체험 교육
찾아가는미디어나눔버스 체험 교육
찾아가는미디어나눔버스 체험
찾아가는미디어나눔버스 체험
찾아가는미디어나눔버스 체험
미디어 체험 교육
생방송톡톡TV
DJ수다박스
생방송톡톡TV
DJ수다박스
생방송톡톡TV
DJ수다박스
생방송톡톡TV
DJ수다박스
생방송톡톡TV
DJ수다박스
DJ수다박스
초록세상마법학교
오늘은NEWS데이
찰칵애니
DJ수다박스
오늘은NEWS데이
찰칵애니
DJ수다박스
미고의 미디어 탐방기
미고의 미디어 탐방기
우리반데이터만들기
알듯말듯 알고리즘 알려줄게 알고리즘
찰칵애니
미고의 미디어 탐방기
무지개TV
꼼지락뉴스
폴리체험
VR체험
나눔버스_천안시청 교육청소년과
센터_대전광역시노인복지관
센터_대전광역시노인복지관
센터_청소년정책연구원
미디어체험
온라인미디어체험(ZOOM)
드림러너
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
상설미디어체험
라디오체험
TV뉴스체험
라디오체험
스톱모션 제작 체험
TV뉴스체험
라디오체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
라디오체험
크로마키체험
크로마키체험
TV뉴스체험
TV뉴스체험
TV뉴스체험
크로마키체험
TV뉴스체험
찾아가는 미디어나눔버스(TV뉴스체험)
찾아가는 미디어나눔버스(TV뉴스체험)
찾아가는 미디어나눔버스(TV뉴스체험)
TV체험(뉴스체험)
라디오체험(DJ체험)
유아 크로마키 체험
AI 체험

In [ ]:
for i in df.index: # 데이터프레임의 인덱스를 순회환다
    # all()함수 : 패러미터로 입력된 리스트에서, 구성요소 모두가 True인 경우 True , 아니면 False리턴
    #
    if all([df.loc[i,'강좌정원수']>=20, df.loc[i,'강좌정원수'] <=30]):
        print(df.loc[i,'강좌명'])

In [ ]:
df['강사명'].unique()

array(['이수현,김민호', '김도경,이수현', '전윤겸', '정혜영', '박민주', '김은희', '장미경', '김현주',
       '도현아', '곽은민', '김윤아', '손영주,윤기숙,정선애,이나미', '윤기숙,정선애', '장정우,최영은',
       '김선희외2', '김수현외1', '김은수외3', '미정', '김은미', '백진영,이희주', '류은애,김은자',
       '백진영,김은자', '이두인,이희주', '박희영,이성희'], dtype=object)

In [220]:
for i in df.index: # df가 index를 순회함
    # any() 함수: 패러미터 모두 True 또는 하나 이상이 True일 경우 True를 리턴, 모두 False면 False리턴
    # >> 둘중에 하나가 True라면 True리턴
    # A in B : B 안에 A가 들어있을 경우 True, 없을 경우 False리턴
    if any([',' in df.loc[i,'강사명'], '외' in df.loc[i,'강사명']]):
        if '아동' in df.loc[i,'교육대상구분']:
            print(df.loc[i,'강좌명'])
    else:
        pass

무지개TV

In [235]:
## 다른 마스킹 방법
# 복잡한 계산식, 다른 함수 사용 가능
# 첫번째 마스킹은 수식으로만 가능
query_expr = '센터명 == "서울시청자미디어센터"'
df.query(query_expr)

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
5,서울시청자미디어센터,미디어 체험 교육,"김도경,이수현",2022-11-25,2022-11-21,앵커 체험,유아,오프라인,금,25,2022-11-09

# 데이터 추가하기
* 새롭게 추가할 경우 행 갯수를 맞춰야함
* 작업할 때 백업을 하면 손실을 최소화 할 수 있음
* concat을 하거나 열을 복구할 때 붙일 데이터프레임의 구조와 동일해야함

In [237]:
df['ABC'] = 0
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,ABC
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09,0
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09,0
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09,0
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09,0
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09,0
...,...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09,0
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,0
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,0
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09,0
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,0

In [238]:
df['ABCD'] = range(0,99)

In [241]:
df.loc[99] = 99 ## 행(인덱스) 추가하기
df.tail()

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,ABC,ABCD
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,0,95
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,0,96
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09,0,97
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,0,98
99,99,99,99,99,99,99,99,99,99,99,99,99,99

In [243]:
df['ABC'] = 100
df.tail()

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,ABC,ABCD
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,100,95
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,100,96
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09,100,97
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,100,98
99,99,99,99,99,99,99,99,99,99,99,99,100,99

In [244]:
df['ABC + ABCD'] = df['ABC'] + df['ABCD'] ## 시리즈끼리 연산 가능
df.tail()

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,ABC,ABCD,ABC + ABCD
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,100,95,195
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,100,96,196
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09,100,97,197
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,100,98,198
99,99,99,99,99,99,99,99,99,99,99,99,100,99,199

In [249]:
df =df.drop('ABC', axis = 1) # axis =1 > 컬럼 삭제, 0 > 인덱스(행) 삭제, 수정이 아닌 출력

KeyError: "['ABC'] not found in axis"

## 실습
* 위 데이터프레임을 아래 조건에 따라 수정하고, result.csv파일로 저장한다
1. index를 내림차순으로 만든다 (값의 순서를 바꿀 필요는 없음)
2. 강좌내용, 교육대상구분 column을 제거합니다
3. 교육방법 구분이 온라인인 항목을 df_oline변수에 따로 저장한다
4. 온라인 항목을 df에서 제거합니다.
---
1. 1번 조건을 수행하는데, index를 내림차순으로 정렬한다
2. 제거한 강좌내용, 교육대상구분 column을 복구한다
3. df_online 데이터프레임의 강좌 정원수와  df의 강좌정원수 평균을 비교한다

In [ ]:
df = pd.read_csv("C:/Users/user/Desktop/220102~/실습 데이터/시청자미디어재단_체험형미디어교육_20221109 - 시청자미디어재단_체험형미디어교육_20221109.csv")
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [ ]:
df_bakcup = df.copy() ## 백업을 해야 나중에 실수했을 때 큰 손해 없이 작업 가능
df_bakcup

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
99,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
98,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
97,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
96,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
95,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
5,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
4,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
3,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
2,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
1,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [285]:
df.index = range(99,0,-1) #1
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
99,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
98,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
97,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
96,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
95,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
5,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
4,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
3,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
2,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
1,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [287]:
df1 = df.drop(['강좌내용','교육대상구분'], axis =1) #2
df1

,센터명,강좌명,강사명,교육시작일자,교육종료일자,교육방법구분,운영요일,강좌정원수,데이터기준일자
99,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,오프라인,토,25,2022-11-09
98,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,오프라인,월,25,2022-11-09
97,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,오프라인,화,25,2022-11-09
96,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,오프라인,수,25,2022-11-09
95,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...
5,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,오프라인,수,25,2022-11-09
4,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09
3,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09
2,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09
1,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [ ]:
m = df['교육방법구분'] == '온라인'
df_online =df1['교육방법구분'][m]
df_online

In [290]:
m = df1['교육방법구분'] != '온라인'
df1[m]

,센터명,강좌명,강사명,교육시작일자,교육종료일자,교육방법구분,운영요일,강좌정원수,데이터기준일자
99,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,오프라인,토,25,2022-11-09
98,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,오프라인,월,25,2022-11-09
97,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,오프라인,화,25,2022-11-09
96,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,오프라인,수,25,2022-11-09
95,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...
5,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,오프라인,수,25,2022-11-09
4,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09
3,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09
2,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09
1,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [330]:
df1.sort_index(ascending= False) ## index 기준으로 정렬 후 리턴
df1

,센터명,강좌명,강사명,교육시작일자,교육종료일자,교육방법구분,운영요일,강좌정원수,데이터기준일자
99,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,오프라인,토,25,2022-11-09
98,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,오프라인,월,25,2022-11-09
97,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,오프라인,화,25,2022-11-09
96,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,오프라인,수,25,2022-11-09
95,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...
5,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,오프라인,수,25,2022-11-09
4,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09
3,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09
2,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09
1,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [305]:
df_bakcup

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
99,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
98,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
97,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
96,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
95,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
5,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
4,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
3,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
2,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
1,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [307]:
df3 =df_bakcup[['강좌내용', '교육대상구분']]
pd.concat([df1,df3], axis = 1)

,센터명,강좌명,강사명,교육시작일자,교육종료일자,교육방법구분,운영요일,강좌정원수,데이터기준일자,강좌내용,교육대상구분
99,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,오프라인,토,25,2022-11-09,상설미디어체험(뉴스앵커체험 등),일반
98,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,오프라인,월,25,2022-11-09,찾아가는미디어나눔버스 체험,청소년
97,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,오프라인,화,25,2022-11-09,찾아가는미디어나눔버스 체험,청소년
96,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,오프라인,수,25,2022-11-09,찾아가는미디어나눔버스 체험,청소년
95,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,오프라인,금,25,2022-11-09,찾아가는미디어나눔버스 체험,청소년
...,...,...,...,...,...,...,...,...,...,...,...
5,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,오프라인,수,25,2022-11-09,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생
4,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상
3,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상
2,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세
1,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,오프라인,"월,화,수,목,금,토",15,2022-11-09,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상

In [ ]:
## 다른 방법
df['강좌내용'] = df_bakcup['강좌내용']
df['교육대상구분'] = df_bakcup['교육대상구분']

In [337]:
df5 = df1[m]
a= df5['강좌정원수'].mean()
b = df['강좌정원수'].mean()
if a<b:
    txt = '많다'
else:
    txt = '적다'
print(f'''온라인 강좌 정원수: {int(a)}
전체강좌 정원수 {int(b)}

온라인 강좌 정원수보다 오프라인 강좌 정원수가 {txt}''')

온라인 강좌 정원수: 20
전체강좌 정원수 21

온라인 강좌 정원수보다 오프라인 강좌 정원수가 많다

---
# 230105 과제
    반복문 이용해보기
* 숫자 하나를 입력받으면 아래 계산을 하는 프로그램 만들기

1부터 입력받은 숫자의 범위에서 <br>
짝수만 골라 팩토리얼 계산 결과를 출력한다 <br>
홀수인 경우, 해당 숫자 이하의 모든 범위의 숫자를 더한 값을 출력한다 <br>
단, 해당프로그램을 for문과 while문을 이용하여 하나씩 만든다 <br>
이 때, continue와 break를 이용해본다(권장사항)

In [369]:
## for문
a = int(input())
for i in range(1,a+1):
    result = 0
    if i %2 == 1:    
        for j in range(1,i+1):
            result += j
        print('홀수',i,result)
        continue
    result2 =1
    for k in range(1,i+1):
        result2 *=k
    print('짝수',i,result2)

홀수 1 1
짝수 2 2
홀수 3 6
짝수 4 24
홀수 5 15
짝수 6 720
홀수 7 28
짝수 8 40320
홀수 9 45
짝수 10 3628800

In [368]:
## while문
a = int(input())
ind = 1
while ind <=a:
    
    if ind %2 ==0:
        for j in range(i+1):
        result =0
        result += ind
        print(result)
        ind+=1
    else:
        result1 = 1
        result *=i
        print(result1)
        ind+=1

1
2
1
4
1
6
1
8
1
10

In [ ]:
## 
for i in range(1,11):
    result =1
    if i %2 == 1:    
        for j in range(1,i+1):
            result *= j
        print(result)
        continue
    
    print(i,'짝수')

1
2 짝수
6
4 짝수
120
6 짝수
5040
8 짝수
362880
10 짝수

In [371]:
a= int(input())
for i in range(1,a+1):
    if i%2 == 0:
        print(i)
    continue

2
4
6
8
10